html, body {
	margin: 0px;
	background: #fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:0.95em;
	color:#4d4948;
}

h1 {
	font-size:150%;
	margin:0px;
	padding:0px;
}

a {
	color:#4d4948;
}

.clear {
	clear:both;
}

#wrapper {
	margin:50px auto 0 auto;

	width:1200px;
	height:356px;
}

#wrapper #content {
	padding:45px 30px 0 30px;
}

#wrapper #content #left-nav {
	float:left;
	font-size:95%;
}

#wrapper #content #left-nav ul {
	padding:0 0 50px 0;
	margin:0;
}

#wrapper #content #left-nav ul li {
	padding:0;
	margin:0;
	list-style:none;
}

#wrapper #content #left-nav ul li a {
	text-decoration:none;
}

#wrapper #content #left-nav ul li a:hover {
	color:#ff0505;
	text-decoration:underline;
}

#wrapper #content #left-nav #build a {
	background:url('layout/.jpg');
	width:155px;
	height:124px;
	display:block;
}

#wrapper #content #left-nav #build a span {
	display:none;
}

#wrapper #content #main {
	float:right;
	width:900px;
	font-size:90%;
}

#wrapper #content #main #regbox {
	padding: 15px 0 0 0;
}

#wrapper #content #main #regbox label {
	width:100px;
	float:left;
}


#wrapper #errors {
	margin-top:15px;
	color:#4d4948;
	background-color:#fffebe;
	border: 1px solid #cbcbcb;
	font-size:90%;
}

#wrapper #success {
	margin-top:15px;
	color:#4d4948;
	background-color:#bce9b5;
	border: 1px solid #7ace6c;
	padding:10px;
}

        .datagrid thead th {
            font-family: Monospace;
            text-align: left;
            padding-left: 5px;
            font-size: 10pt;
            border-top: 1px solid #666;
            border-bottom: 1px solid #666;
        }
        
        /**
        * Hide the footer - kinda pointless because the tfoot contains the page controls,
        * but it's just here as an example.
        */
        .datagrid tfoot {
            display: none;
        }
        
        .datagrid thead th.col_0 {
            border-left: 1px solid #666;
        }
        
        .datagrid thead th.col_3 {
            border-right: 1px solid #666;
        }
        
        .datagrid tbody td {
            padding-left: 5px;
            padding-right: 5px;
            font-family: Monospace;
        }
        
        .datagrid tfoot td {
            font-family: Monospace;
        }
        
        .datagrid tbody td a {
            text-decoration: none;
        }
        
        .datagrid tbody td.col_1,
        .datagrid tbody td.col_3,{
            background-color: #eee;
        }
        
        .datagrid thead th.col_0,
        .datagrid thead th.col_1,
        .datagrid thead th.col_2,
        .datagrid thead th.col_3,
        .datagrid thead th.col_4 {
            background-color: #FFAE1A;
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=orange);
        }
        
        .datagrid thead th a {
            text-decoration: none;
        }
